#headerH1{
    background-color: grey;
    text-align: center;
    padding: 20px;
}

#mainCard{
    width: 80%;
    margin: auto;
}

.card-title{
    text-align: center;
}

#inputAndButton{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
  }

#mainTable{
    margin: auto;

}

#matchTable{
    margin: auto;

}

.card{
    padding: 20px;
}

#curStats{
    text-align: center;
    font-size: 30px;
}

#matchStats{
    text-align: center;
    font-size: 30px;
}
